target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

#Netbeans
nb-configuration.xml
nb-actions.xml

nbactions.xml
/nbproject/

#IntelliJ
/.idea
*.iml